<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,50}}</string>
                <key>sourceSize</key>
                <string>{154,50}</string>
            </dict>
            <key>btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,50}}</string>
                <key>sourceSize</key>
                <string>{154,50}</string>
            </dict>
            <key>btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,50}}</string>
                <key>sourceSize</key>
                <string>{154,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons_green.png</string>
            <key>size</key>
            <string>{470,54}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99c298230f1242790eb354b5b429e976:c6bb40f9ca0f11f614560ffe52d657cb:786758dc2808b18c9ea55fa362c5724b$</string>
            <key>textureFileName</key>
            <string>buttons_green.png</string>
        </dict>
    </dict>
</plist>
